.DayHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
}

.DayGrid {
  --calendar-border: #ccc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 100px;  
  background-color: var(--calendar-border);
  border: 1px solid var(--calendar-border);
  grid-gap: 1px;
}

.DayGrid .DateCell {
  height: auto;
  background-color: white;
  position: relative;
}

.DayGrid .DateCell .highlight {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.DayGrid .DateCell:hover .highlight {
  box-shadow: 0 0 5px 5px #ccc;
}

.DayGrid .DateCell .selected {
  background-color: blue;
}

#selectStart ~ div:not(#selectEnd) {
  color: red;
}

.MonthSelector {
  font-size: 24px;
}

.MonthSelector .Title {
  font-size: 32px
}

.MonthSelector .ListContainer {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid red;
}

.MonthSelector .List {
  border: 1px solid black;
  background-color: white;
}

.MonthSelector .List .Option {
  font-size: 18px;
  cursor: pointer;
}

.MonthSelector .List .Option:hover {
  background-color: black;
  color: white;
}

