.ambient-shapes-1 {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
}

.ambient-shapes-1 .background {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.ambient-shapes-1 .background svg {
  border: 1px solid white;
  width: 600px;
  height: 600px;
  border-radius: 4px;
}